body{
    margin: 0;
    padding: 0;
    font-family: Cambria;
    background-image: url("3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.651);
    text-align: center;
    border-radius: 20px;
}

.box h1{
    color:#269128 ;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: #59ff5c;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 250px;
    border-color: red;
}

.box a[type = "submit"]{
    border: 0;
    background: #269128;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(177, 166, 103);
    padding: 14px 3px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 210px;
    text-decoration: none;
}

.box a[type = "submit"]:hover{
    background:rgb(177, 166, 103) ;
}

.box img{
    width: 30%;
}

@media screen and (max-width : 576px){
    body{
        background-size: auto;
    }

    .box{
        width: auto;
    }
}